In [2]:
import pandas as pd
import re
from unidecode import unidecode

In [3]:
df_clientes = pd.read_csv(r"../input/base_clientes.csv", delimiter=";", encoding="utf-8")
df_produtos = pd.read_csv(r"../input/base_produtos.csv", delimiter=";", encoding="utf-8")
df_vendas = pd.read_csv(r"../input/base_vendas.csv", delimiter=";", encoding="utf-8")
df_info_vendas = pd.read_csv(r"../input/Informacoes_vendas.csv", delimiter=";", encoding="utf-8")

#### CLIENTES

In [3]:
df_clientes.head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,22/12/2024,TV + Fibra,199.9,Ativo,19,Outro,8189,Vendedor_37,NaN
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,23/09/2024,TV + Fibra,199.9,Ativo,44,Feminino,18160,Vendedor_34,NaN
2,3,Cliente_3,PR,Maringá,Norte,Residencial,10/12/2023,TV + Fibra,199.9,Ativo,67,Feminino,14505,Vendedor_14,NaN
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,11/10/2024,Fibra 300MB,89.9,Cancelado,59,Feminino,1939,Vendedor_47,NaN
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,03/04/2024,Móvel Controle,49.9,Cancelado,20,Masculino,2912,Vendedor_6,NaN
5,6,Cliente_6,GO,Aparecida de Goiânia,Nordeste,Empresarial,10/08/2022,Fibra 1GB,159.9,Ativo,70,Masculino,13104,Vendedor_27,NaN
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,03/07/2024,Fibra 300MB,89.9,Cancelado,47,Masculino,8579,Vendedor_2,NaN
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,12/03/2023,Móvel Pós,89.9,Ativo,27,Masculino,6703,Vendedor_9,NaN
8,9,Cliente_9,PR,Maringá,Sul,Governo,02/10/2023,Fibra 300MB,89.9,Ativo,26,Feminino,6583,Vendedor_11,NaN
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,02/08/2024,Móvel Pós,89.9,Ativo,20,Masculino,10619,Vendedor_5,NaN

In [4]:
# Primeiro passo normalziar o df, remover acentos e carc. esp. que não quero
def normalizar_para_snake_case(valores):

    if pd.isna(valores):
        return valores 

    valores = str(valores).strip()
    valores = unidecode(valores)
    valores = valores.lower()

    valores = re.sub(r"[^a-z0-9\+\-\s]+", " ", valores)

    valores = re.sub(r"\s+", " ", valores).strip()

    # Palavras que NÃO devem ser capitalizadas
    excecoes = {"de", "do", "da"}

    palavras = []
    for palavra in valores.split(" "):
        if palavra in excecoes:
            palavras.append(palavra)
        else:
            palavras.append(palavra.capitalize())

    valores = " ".join(palavras)

    return valores

In [5]:
colunas = ['cidade', 'segmento', 'plano']

for col in colunas:
    df_clientes[col] = df_clientes[col].apply(normalizar_para_snake_case)

In [8]:
df_clientes.head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,22/12/2024,Tv + Fibra,199.9,Ativo,19,Outro,8189,Vendedor_37,NaN
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,23/09/2024,Tv + Fibra,199.9,Ativo,44,Feminino,18160,Vendedor_34,NaN
2,3,Cliente_3,PR,Maringa,Norte,Residencial,10/12/2023,Tv + Fibra,199.9,Ativo,67,Feminino,14505,Vendedor_14,NaN
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,11/10/2024,Fibra 300mb,89.9,Cancelado,59,Feminino,1939,Vendedor_47,NaN
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,03/04/2024,Movel Controle,49.9,Cancelado,20,Masculino,2912,Vendedor_6,NaN
5,6,Cliente_6,GO,Aparecida de Goiania,Nordeste,Empresarial,10/08/2022,Fibra 1gb,159.9,Ativo,70,Masculino,13104,Vendedor_27,NaN
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,03/07/2024,Fibra 300mb,89.9,Cancelado,47,Masculino,8579,Vendedor_2,NaN
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,12/03/2023,Movel Pos,89.9,Ativo,27,Masculino,6703,Vendedor_9,NaN
8,9,Cliente_9,PR,Maringa,Sul,Governo,02/10/2023,Fibra 300mb,89.9,Ativo,26,Feminino,6583,Vendedor_11,NaN
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,02/08/2024,Movel Pos,89.9,Ativo,20,Masculino,10619,Vendedor_5,NaN

In [9]:
# Normalizar estado

def normalizar_estado(valor):
    if pd.isna(valor):
        return valor

    valor = unidecode(str(valor)).strip().upper()
    valor = re.sub(r"[^\w]+", "", valor)
    return valor

df_clientes["estado"] = df_clientes["estado"].apply(normalizar_estado)

In [10]:
df_clientes.head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,22/12/2024,Tv + Fibra,199.9,Ativo,19,Outro,8189,Vendedor_37,NaN
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,23/09/2024,Tv + Fibra,199.9,Ativo,44,Feminino,18160,Vendedor_34,NaN
2,3,Cliente_3,PR,Maringa,Norte,Residencial,10/12/2023,Tv + Fibra,199.9,Ativo,67,Feminino,14505,Vendedor_14,NaN
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,11/10/2024,Fibra 300mb,89.9,Cancelado,59,Feminino,1939,Vendedor_47,NaN
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,03/04/2024,Movel Controle,49.9,Cancelado,20,Masculino,2912,Vendedor_6,NaN
5,6,Cliente_6,GO,Aparecida de Goiania,Nordeste,Empresarial,10/08/2022,Fibra 1gb,159.9,Ativo,70,Masculino,13104,Vendedor_27,NaN
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,03/07/2024,Fibra 300mb,89.9,Cancelado,47,Masculino,8579,Vendedor_2,NaN
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,12/03/2023,Movel Pos,89.9,Ativo,27,Masculino,6703,Vendedor_9,NaN
8,9,Cliente_9,PR,Maringa,Sul,Governo,02/10/2023,Fibra 300mb,89.9,Ativo,26,Feminino,6583,Vendedor_11,NaN
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,02/08/2024,Movel Pos,89.9,Ativo,20,Masculino,10619,Vendedor_5,NaN

Padronizando datas

In [11]:
print(df_clientes['data_entrada'].dtypes)
print(df_clientes['data_cancelamento'].dtypes)

object
object

In [5]:
df_clientes[df_clientes["data_cancelamento"].isna()].head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,22/12/2024,TV + Fibra,199.9,Ativo,19,Outro,8189,Vendedor_37,NaN
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,23/09/2024,TV + Fibra,199.9,Ativo,44,Feminino,18160,Vendedor_34,NaN
2,3,Cliente_3,PR,Maringá,Norte,Residencial,10/12/2023,TV + Fibra,199.9,Ativo,67,Feminino,14505,Vendedor_14,NaN
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,11/10/2024,Fibra 300MB,89.9,Cancelado,59,Feminino,1939,Vendedor_47,NaN
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,03/04/2024,Móvel Controle,49.9,Cancelado,20,Masculino,2912,Vendedor_6,NaN
5,6,Cliente_6,GO,Aparecida de Goiânia,Nordeste,Empresarial,10/08/2022,Fibra 1GB,159.9,Ativo,70,Masculino,13104,Vendedor_27,NaN
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,03/07/2024,Fibra 300MB,89.9,Cancelado,47,Masculino,8579,Vendedor_2,NaN
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,12/03/2023,Móvel Pós,89.9,Ativo,27,Masculino,6703,Vendedor_9,NaN
8,9,Cliente_9,PR,Maringá,Sul,Governo,02/10/2023,Fibra 300MB,89.9,Ativo,26,Feminino,6583,Vendedor_11,NaN
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,02/08/2024,Móvel Pós,89.9,Ativo,20,Masculino,10619,Vendedor_5,NaN

In [6]:
pd.DataFrame({
    "Total": [df_clientes.shape[0]],
    "Preenchidas": [df_clientes["data_cancelamento"].notna().sum()],
    "Nulas ou inválidas": [df_clientes["data_cancelamento"].isna().sum()]
})

   Total  Preenchidas  Nulas ou inválidas
0  10000          832                9168

In [8]:
percentual = (
    df_clientes["data_cancelamento"]
    .isna()
    .mean() * 100
)

print(f"{percentual:.2f}% das datas estão nulas")

91.68% das datas estão nulas

In [12]:
if "data_entrada" in df_clientes.columns:
    df_clientes["data_entrada"] = pd.to_datetime(
        df_clientes["data_entrada"],
        format="%d/%m/%Y"
    )

In [13]:
if "data_cancelamento" in df_clientes.columns:
    df_clientes["data_cancelamento"] = pd.to_datetime(
        df_clientes["data_cancelamento"],
        format="%d/%m/%Y"
    )

In [14]:
df_clientes.head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,2024-12-22,Tv + Fibra,199.9,Ativo,19,Outro,8189,Vendedor_37,NaT
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,2024-09-23,Tv + Fibra,199.9,Ativo,44,Feminino,18160,Vendedor_34,NaT
2,3,Cliente_3,PR,Maringa,Norte,Residencial,2023-12-10,Tv + Fibra,199.9,Ativo,67,Feminino,14505,Vendedor_14,NaT
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,2024-10-11,Fibra 300mb,89.9,Cancelado,59,Feminino,1939,Vendedor_47,NaT
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,2024-04-03,Movel Controle,49.9,Cancelado,20,Masculino,2912,Vendedor_6,NaT
5,6,Cliente_6,GO,Aparecida de Goiania,Nordeste,Empresarial,2022-08-10,Fibra 1gb,159.9,Ativo,70,Masculino,13104,Vendedor_27,NaT
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,2024-07-03,Fibra 300mb,89.9,Cancelado,47,Masculino,8579,Vendedor_2,NaT
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,2023-03-12,Movel Pos,89.9,Ativo,27,Masculino,6703,Vendedor_9,NaT
8,9,Cliente_9,PR,Maringa,Sul,Governo,2023-10-02,Fibra 300mb,89.9,Ativo,26,Feminino,6583,Vendedor_11,NaT
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,2024-08-02,Movel Pos,89.9,Ativo,20,Masculino,10619,Vendedor_5,NaT

In [15]:
print(df_clientes['valor'].dtypes)
print(df_clientes['renda_estimada'].dtypes)

float64
int64

In [16]:
if "status" in df_clientes.columns:
    status_map = {
        "ativo": "ATIVO",
        "Ativo": "ATIVO",
        "cancelado": "CANCELADO",
        "Cancelado": "CANCELADO"
    }

    df_clientes["status"] = df_clientes["status"].map(status_map).astype("string")

In [17]:
df_clientes.head(10)

,id_cliente,nome_cliente,estado,cidade,regiao,segmento,data_entrada,plano,valor,status,idade,genero,renda_estimada,vendedor,data_cancelamento
0,1,Cliente_1,RS,Pelotas,Nordeste,Residencial,2024-12-22,Tv + Fibra,199.9,ATIVO,19,Outro,8189,Vendedor_37,NaT
1,2,Cliente_2,BA,Feira de Santana,Nordeste,Residencial,2024-09-23,Tv + Fibra,199.9,ATIVO,44,Feminino,18160,Vendedor_34,NaT
2,3,Cliente_3,PR,Maringa,Norte,Residencial,2023-12-10,Tv + Fibra,199.9,ATIVO,67,Feminino,14505,Vendedor_14,NaT
3,4,Cliente_4,PE,Recife,Nordeste,Empresarial,2024-10-11,Fibra 300mb,89.9,CANCELADO,59,Feminino,1939,Vendedor_47,NaT
4,5,Cliente_5,RS,Caxias do Sul,Sudeste,Residencial,2024-04-03,Movel Controle,49.9,CANCELADO,20,Masculino,2912,Vendedor_6,NaT
5,6,Cliente_6,GO,Aparecida de Goiania,Nordeste,Empresarial,2022-08-10,Fibra 1gb,159.9,ATIVO,70,Masculino,13104,Vendedor_27,NaT
6,7,Cliente_7,MG,Juiz de Fora,Sul,Residencial,2024-07-03,Fibra 300mb,89.9,CANCELADO,47,Masculino,8579,Vendedor_2,NaT
7,8,Cliente_8,RS,Caxias do Sul,Sul,Residencial,2023-03-12,Movel Pos,89.9,ATIVO,27,Masculino,6703,Vendedor_9,NaT
8,9,Cliente_9,PR,Maringa,Sul,Governo,2023-10-02,Fibra 300mb,89.9,ATIVO,26,Feminino,6583,Vendedor_11,NaT
9,10,Cliente_10,PE,Petrolina,Nordeste,Governo,2024-08-02,Movel Pos,89.9,ATIVO,20,Masculino,10619,Vendedor_5,NaT

In [ ]:
Validações

In [18]:
# Status dentro do esperado
if "status" in df_clientes.columns:
    status_invalido = df_clientes.loc[~df_clientes["status"].isin(["ATIVO", "CANCELADO"]) & df_clientes["status"].notna(), "status"].unique()
    print(f"Status fora do padrão (após tratamento): {status_invalido}")

Status fora do padrão (após tratamento): <StringArray>
[]
Length: 0, dtype: string

In [19]:
# IDs duplicados

if "id_cliente" in df_clientes.columns:
    dup_ids = df_clientes["id_cliente"].duplicated().sum()
    print(f"Qtd de id_cliente duplicados: {dup_ids}")

Qtd de id_cliente duplicados: 0

In [20]:
print("\nDtypes finais:\n", df_clientes.dtypes)

Dtypes finais:
 id_cliente                    int64
nome_cliente                 object
estado                       object
cidade                       object
regiao                       object
segmento                     object
data_entrada         datetime64[ns]
plano                        object
valor                       float64
status               string[python]
idade                         int64
genero                       object
renda_estimada                int64
vendedor                     object
data_cancelamento    datetime64[ns]
dtype: object

In [21]:
OUT_PATH = r"../output/base_clientes_tratada.csv"
df_clientes.to_csv(OUT_PATH, index=False, encoding="utf-8")

print("\nArquivo tratado salvo em:", OUT_PATH)

Arquivo tratado salvo em: ../output/base_clientes_tratada.csv

#### Produtos

In [22]:
df_produtos.head(10)

   id_produto    nome_produto
0           1     Fibra 300MB
1           2     Fibra 600MB
2           3       Fibra 1GB
3           4  Móvel Controle
4           5       Móvel Pós
5           6      TV + Fibra

In [23]:
print("\nDtypes finais:\n", df_produtos.dtypes)

Dtypes finais:
 id_produto       int64
nome_produto    object
dtype: object

In [24]:
colunas_produtos = ['nome_produto']

for col in colunas_produtos:
    df_produtos[col] = df_produtos[col].apply(normalizar_para_snake_case)

In [25]:
df_produtos.head(10)

   id_produto    nome_produto
0           1     Fibra 300mb
1           2     Fibra 600mb
2           3       Fibra 1gb
3           4  Movel Controle
4           5       Movel Pos
5           6      Tv + Fibra

In [26]:
OUT_PATH = r"../output/base_produtos_tratada.csv"
df_produtos.to_csv(OUT_PATH, index=False, encoding="utf-8")

print("\nArquivo tratado salvo em:", OUT_PATH)

Arquivo tratado salvo em: ../output/base_produtos_tratada.csv

#### VENDAS

In [27]:
df_vendas.head(10)

,id_venda,id_cliente,id_produto,valor,data_venda,vendedor,estado,cidade
0,1,10001,1,260.73,13/06/2025,Vendedor_9,PR,Londrina
1,2,10002,3,266.64,27/05/2025,Vendedor_44,DF,Brasília
2,3,10003,3,91.32,16/05/2025,Vendedor_49,PR,Londrina
3,4,10004,3,86.83,31/08/2025,Vendedor_26,SP,São Paulo
4,5,10005,6,82.77,03/06/2025,Vendedor_27,PR,Maringá
5,6,10006,6,242.54,26/07/2025,Vendedor_18,DF,Brasília
6,7,10007,5,297.69,17/07/2025,Vendedor_24,BA,Feira de Santana
7,8,10008,1,251.55,16/01/2025,Vendedor_35,PR,Curitiba
8,9,10009,3,105.01,21/06/2025,Vendedor_24,GO,Aparecida de Goiânia
9,10,10010,5,243.60,24/06/2025,Vendedor_20,PE,Olinda

In [28]:
print("\nDtypes finais:\n", df_vendas.dtypes)

Dtypes finais:
 id_venda        int64
id_cliente      int64
id_produto      int64
valor         float64
data_venda     object
vendedor       object
estado         object
cidade         object
dtype: object

In [29]:
# Transforma data
if "data_venda" in df_vendas.columns:
    df_vendas["data_venda"] = pd.to_datetime(
        df_vendas["data_venda"],
        format="%d/%m/%Y"
    )

In [30]:
# Normalizar estado

def normalizar_estado(valor):
    if pd.isna(valor):
        return valor

    valor = unidecode(str(valor)).strip().upper()
    valor = re.sub(r"[^\w]+", "", valor)
    return valor

df_vendas["estado"] = df_vendas["estado"].apply(normalizar_estado)

In [31]:
colunas = ['cidade']

for col in colunas:
    df_vendas[col] = df_vendas[col].apply(normalizar_para_snake_case)

In [32]:
df_vendas.head(10)

,id_venda,id_cliente,id_produto,valor,data_venda,vendedor,estado,cidade
0,1,10001,1,260.73,2025-06-13,Vendedor_9,PR,Londrina
1,2,10002,3,266.64,2025-05-27,Vendedor_44,DF,Brasilia
2,3,10003,3,91.32,2025-05-16,Vendedor_49,PR,Londrina
3,4,10004,3,86.83,2025-08-31,Vendedor_26,SP,Sao Paulo
4,5,10005,6,82.77,2025-06-03,Vendedor_27,PR,Maringa
5,6,10006,6,242.54,2025-07-26,Vendedor_18,DF,Brasilia
6,7,10007,5,297.69,2025-07-17,Vendedor_24,BA,Feira de Santana
7,8,10008,1,251.55,2025-01-16,Vendedor_35,PR,Curitiba
8,9,10009,3,105.01,2025-06-21,Vendedor_24,GO,Aparecida de Goiania
9,10,10010,5,243.60,2025-06-24,Vendedor_20,PE,Olinda

In [33]:
if "id_cliente" in df_vendas.columns:
    dup_ids = df_vendas["id_cliente"].duplicated().sum()
    print(f"Qtd de id_cliente duplicados: {dup_ids}")

Qtd de id_cliente duplicados: 0

In [34]:
if "id_venda" in df_vendas.columns:
    dup_ids = df_vendas["id_venda"].duplicated().sum()
    print(f"Qtd de id_venda duplicados: {dup_ids}")

Qtd de id_venda duplicados: 0

In [35]:
print("\nDtypes finais:\n", df_vendas.dtypes)

Dtypes finais:
 id_venda               int64
id_cliente             int64
id_produto             int64
valor                float64
data_venda    datetime64[ns]
vendedor              object
estado                object
cidade                object
dtype: object

In [36]:
OUT_PATH = r"../output/base_vendas_tratada.csv"
df_vendas.to_csv(OUT_PATH, index=False, encoding="utf-8")

print("\nArquivo tratado salvo em:", OUT_PATH)

Arquivo tratado salvo em: ../output/base_vendas_tratada.csv

#### NIFORMAÇÕES VENDAS

In [37]:
df_info_vendas.head(10)

,id_cliente,nome_cliente,estado,cidade,segmento,plano,status,idade,genero,renda_estimada,vendedor
0,10001,ClienteNovo_1,PR,Londrina,Residencial,Fibra 1GB,Ativo,64,Masculino,16457,Vendedor_9
1,10002,ClienteNovo_2,DF,Brasília,Empresarial,TV + Fibra,Ativo,60,Masculino,3324,Vendedor_44
2,10003,ClienteNovo_3,PR,Londrina,Residencial,Móvel Controle,Ativo,57,Feminino,8252,Vendedor_49
3,10004,ClienteNovo_4,SP,São Paulo,Empresarial,TV + Fibra,Ativo,56,Masculino,3891,Vendedor_26
4,10005,ClienteNovo_5,PR,Maringá,Residencial,TV + Fibra,Ativo,64,Masculino,6556,Vendedor_27
5,10006,ClienteNovo_6,DF,Brasília,Residencial,Fibra 1GB,Ativo,20,Feminino,11172,Vendedor_18
6,10007,ClienteNovo_7,BA,Feira de Santana,Empresarial,Fibra 600MB,Ativo,28,Feminino,11107,Vendedor_24
7,10008,ClienteNovo_8,PR,Curitiba,Residencial,Fibra 1GB,Ativo,27,Feminino,12187,Vendedor_35
8,10009,ClienteNovo_9,GO,Aparecida de Goiânia,Governo,Fibra 600MB,Ativo,65,Masculino,10221,Vendedor_24
9,10010,ClienteNovo_10,PE,Olinda,Residencial,Fibra 600MB,Ativo,19,Masculino,18083,Vendedor_20

In [38]:
# Normalizar estado

def normalizar_estado(valor):
    if pd.isna(valor):
        return valor

    valor = unidecode(str(valor)).strip().upper()
    valor = re.sub(r"[^\w]+", "", valor)
    return valor

df_info_vendas["estado"] = df_info_vendas["estado"].apply(normalizar_estado)

In [39]:
colunas = ['cidade', 'segmento', 'plano']

for col in colunas:
    df_info_vendas[col] = df_info_vendas[col].apply(normalizar_para_snake_case)

In [41]:
if "status" in df_info_vendas.columns:
    status_map = {
        "ativo": "ATIVO",
        "Ativo": "ATIVO",
        "cancelado": "CANCELADO",
        "Cancelado": "CANCELADO"
    }

    df_info_vendas["status"] = df_info_vendas["status"].map(status_map).astype("string")

In [42]:
df_info_vendas.head(10)

,id_cliente,nome_cliente,estado,cidade,segmento,plano,status,idade,genero,renda_estimada,vendedor
0,10001,ClienteNovo_1,PR,Londrina,Residencial,Fibra 1gb,ATIVO,64,Masculino,16457,Vendedor_9
1,10002,ClienteNovo_2,DF,Brasilia,Empresarial,Tv + Fibra,ATIVO,60,Masculino,3324,Vendedor_44
2,10003,ClienteNovo_3,PR,Londrina,Residencial,Movel Controle,ATIVO,57,Feminino,8252,Vendedor_49
3,10004,ClienteNovo_4,SP,Sao Paulo,Empresarial,Tv + Fibra,ATIVO,56,Masculino,3891,Vendedor_26
4,10005,ClienteNovo_5,PR,Maringa,Residencial,Tv + Fibra,ATIVO,64,Masculino,6556,Vendedor_27
5,10006,ClienteNovo_6,DF,Brasilia,Residencial,Fibra 1gb,ATIVO,20,Feminino,11172,Vendedor_18
6,10007,ClienteNovo_7,BA,Feira de Santana,Empresarial,Fibra 600mb,ATIVO,28,Feminino,11107,Vendedor_24
7,10008,ClienteNovo_8,PR,Curitiba,Residencial,Fibra 1gb,ATIVO,27,Feminino,12187,Vendedor_35
8,10009,ClienteNovo_9,GO,Aparecida de Goiania,Governo,Fibra 600mb,ATIVO,65,Masculino,10221,Vendedor_24
9,10010,ClienteNovo_10,PE,Olinda,Residencial,Fibra 600mb,ATIVO,19,Masculino,18083,Vendedor_20

Validações

In [43]:
# Status dentro do esperado
if "status" in df_info_vendas.columns:
    status_invalido = df_info_vendas.loc[~df_info_vendas["status"].isin(["ATIVO", "CANCELADO"]) & df_info_vendas["status"].notna(), "status"].unique()
    print(f"Status fora do padrão (após tratamento): {status_invalido}")

Status fora do padrão (após tratamento): <StringArray>
[]
Length: 0, dtype: string

In [44]:
# IDs duplicados

if "id_cliente" in df_info_vendas.columns:
    dup_ids = df_info_vendas["id_cliente"].duplicated().sum()
    print(f"Qtd de id_cliente duplicados: {dup_ids}")

Qtd de id_cliente duplicados: 0

In [45]:
print("\nDtypes finais:\n", df_clientes.dtypes)

Dtypes finais:
 id_cliente                    int64
nome_cliente                 object
estado                       object
cidade                       object
regiao                       object
segmento                     object
data_entrada         datetime64[ns]
plano                        object
valor                       float64
status               string[python]
idade                         int64
genero                       object
renda_estimada                int64
vendedor                     object
data_cancelamento    datetime64[ns]
dtype: object

In [46]:
OUT_PATH = r"../output/base_info_vendas_tratada.csv"
df_info_vendas.to_csv(OUT_PATH, index=False, encoding="utf-8")

print("\nArquivo tratado salvo em:", OUT_PATH)

Arquivo tratado salvo em: ../output/base_info_vendas_tratada.csv